/**
 * @name Sky
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @authorId 174868361040232448
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
 * @website https://gibbu.me
*/

/* This theme was edited using https://gibbu.me/editor/frostedglass */

@import url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/base.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/modals.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');

:root {
  --background-image: url('https://images.wallpapersden.com/image/download/anime-girl-and-colorful-sky_61094_1920x1080.jpg');
  --background-image-blur: 3px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: url('https://images.wallpapersden.com/image/download/anime-girl-and-colorful-sky_61094_1920x1080.jpg');
  --popout-modal-blur: 0px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.6;
  --middle-brightness: 0.6;
  --right-brightness: 0.4;
  --popout-modal-brightness: 0.4;
  --tint-colour: 0,188,212;
  --tint-brightness: 0.06;
  --gradient-primary: 51,94,235;
  --gradient-secondary: 199,22,213;
  --gradient-direction: 320deg;
  --window-padding: 5px;
  --window-roundness: 15px;
  --scrollbar-colour: rgba(255,255,255,0.43);
  --link-colour: #ff2dc7;
  --show-gift-gif-buttons: none;
  --font: 'Whitney';
  --update-notice-1: none;
  --rs-small-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-width: 2.5px;
  --rs-avatar-shape: 25%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
}