/**
 * @name Moody-ish
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness. Dark theme is required
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @authorId 174868361040232448
 * @source https://github.com/Gibbu/BetterDiscord-Themes/tree/master/FrostedGlass
 * @website https://gibbu.me
*/

@import url('https://discordstyles.github.io/FrostedGlass/base.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css');
@import url('https://discord-custom-covers.github.io/usrbg/snippets/modals.css');
@import url('https://monstrousdev.github.io/themes/addons/user-tags.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/addons/windows-titlebar.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/AdjustableServerWidth/base.css');
@import url('https://gibbu.github.io/BetterDiscord-Themes/RadialStatus/base.css');

:root {
  --background-image: url('https://i.imgur.com/AVIaSjo.jpg');
  --background-image-blur: 2px;
  --background-image-size: cover;
  --background-image-position: center center;
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 4px;
  --popout-modal-size: cover;
  --popout-modal-position: center center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center center;
  --serverlist-brightness: 0.7;
  --left-brightness: 0.7;
  --middle-brightness: 0.7;
  --right-brightness: 0;
  --popout-modal-brightness: 0.5;
  --gradient-primary: 17,35,136;
  --gradient-secondary: 0,170,207;
  --scrollbar-colour: rgba(108,53,204,1);
  --link-colour: #23d327;
  --gradient-direction: 274deg;
  --tint-colour: 0,236,255;
  --tint-brightness: 0.08;
  --font: 'Whitney';
  --window-padding: undefinedpx;
  --window-roundness: undefinedpx;
  --show-gift-gif-buttons: none;
  --update-notice-1: none;
  --server-icon-size: 35px;
  --server-icon-spacing: 8px;
  --server-container-padding: 8px;
  --rs-small-spacing: 0px;
  --rs-large-spacing: 0px;
  --rs-width: 2.5px;
  --rs-avatar-shape: 25%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-invisible-color: #747f8d;
}